@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        background-color: #161617;
        overflow: hidden;
    }
}

.history-div::-webkit-scrollbar {
    width: 8px;
    background-color: #1F2937;
}

.history-div::-webkit-scrollbar-thumb {
    background-color: #4B5563;
    border-radius: 4px;
}

html {
    @apply h-full;
}

body {
    @apply h-full;
}

div#__next {
    @apply h-full;
}

main {
    @apply h-full;
}